<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>User List</h1>
      <p id="notice"> <%= notice%>
      </p>
    <table>
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>